/* Change url(../activity/activity-helloworld.svg); for set your custom activity icon */
#main-toolbar #activity-button {
  background-image: url(../activity/activity-helloworld.svg);
}

#canvas {
 width: 1200px;
 height: 845px;
}

#bienvenida{
	width: 1200px;
 	height: 845px;
 	background-image: url(../img/Bienvenida.png);	
}
#menu{
	width: 1200px;
 	height: 845px;
 	background-image: url(../img/menu.png);
}


#reconoce{
	width: 1200px;
 	height: 845px;
 	background-image: url(../img/back.png);
}

#practica{
	width: 1200px;
 	height: 845px;
 	background-image: url(../img/back.png);
}

.element {
  position: absolute;
}

.hidden {
  display: none;
}

/* ----------- aqui va --------  */

.button-serie {
  display: block;
  position: absolute;
  background-color: transparent !important;
  font-size: 50px;
  color: #000;
  font-weight: bold;
  border: none !important;
  outline: 0 !important;
  overflow: visible;
  padding-top: 20px;
}

.button-serie:hover, .button-serie:active {
  border: none !important;
}

.msg {
  position: absolute;
  top: 390px;
  left: 300px;

  margin: 10px auto 0 auto;
}

.msg h1 {
  text-align: center;
  color: #fff;
}

.win {
  background-color: #8fbd1c;
  position: relative;
  z-index: 1000;
  width: 500px;
  height: 300px;
  margin: 30px auto 0 auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 80px;
  font-size: 20px;
  border-radius: 20px;
}

.lose {
  background-color: #8fbd1c;
  position: absolute;
  width: 500px;
  height: 300px;
  margin: 30px auto 0 auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 80px;
  font-size: 20px;
  border-radius: 20px;
}

.element input {
  width: 100px;
  position: absolute;
  top: 56px;
}

.text2 {
  position: absolute;
  top: 300px;
  left: 200px;
  bottom: 300px;
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.text {
  position: absolute;
  top: 310px;
  left: 490px;
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  
}
.text3 {
  position: absolute;
  top: 300px;
  left: 410px;
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  
}

.text4 {
  position: absolute;
  top: 300px;
  left: 535px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  
}

.text5 {
  position: absolute;
  top: 305px;
  left: 640px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  
}

#score-practica {
  position: absolute;
  top: 60px;
  left: 150px;
  margin: 5px;
  color: white;
  font-size: 60px;
}



.text-area {
  position: absolute;
  top: 150px;
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
/**********************************************************/
#history {
  position: absolute;
  background-image: url(../img/btnhistory.png);
  background-color: transparent;
  height: 136px;
  width: 353px;
  top: 150px;
  left: 0px;
}

#history:hover {
  background-image: url(../img/btnhistory-hover.png);
}

#play {
  position: absolute;
  background-image: url(../img/btnentrar.png);
  background-color: transparent;
  height: 136px;
  width: 353px;
  top: 0px;
  left: 0px;
}

#play:hover {
  background-image: url(../img/btnentrar-hover.png);
}

#modal {
  z-index: 998;
  position: absolute;
  top: 0px;
  width: 1200px;
  height: 845px;
  background-color: black;
  opacity: 0.7;
}
#modal-content {
  z-index: 999;
  position: absolute;
  border: 8px solid #2E9AFE;
  border-radius: 40px;

  background-color: white;
  top: 40px;
  left: 43px;
  width: 1100px;
  height: 750px;
}
#close-modal {
  position: absolute;
  background-image: url(../img/close-modal.png);
  width: 60px;
  height: 60px;
  padding: 0px;
  border: none;
  border-radius: 30px;
  right: 5px;
  top: 5px;
}
#close-modal:hover {
  background-image: url(../img/close-modal-hover.png);
}
#back-menu {
  position: absolute;
  top: 800px;
  left: 50px;
}
#representa-button {
  position: absolute;
  background-image: url(../img/cacique1.png);
  background-color: transparent;
  height: 419px;
  width: 203px;
  top: 175px;
  left: 175px;
}
#reconoce-button {
  position: absolute;
  background-image: url(../img/cacique2.png);
  background-color: transparent;
  height: 391px;
  width: 232px;
  top: 300px;
  left: 500px;
}
#practica-button {
  position: absolute;
  background-image: url(../img/cacique3.png);
  background-color: transparent;
  height: 376px;
  width: 235px;
  top: 450px;
  left: 750px;
}
#score {
  position: absolute;
  top: 50px;
  left: 150px;
  margin: 5px;
  color: white;
  font-size: 60px;
}
#life-representa {
  position: absolute;
  top: 40px;
  left: 1000px;
  margin: 5px;
  color: white;
  font-size: 60px;
}
#help-representa {
  position: absolute;
  top: 20px;
  left: 1100px;
}
#back-representa {
  position: absolute;
  top: 780px;
  left: 250px;
}
#representa{
  width: 1200px;
  height: 845px;
  background-image: url(../img/back.png);
}
#representa-area {
  position: absolute;
  width: 800px;
  height: 400px;
  background-color: transparent;
  top: 160px;
  left: 300px;
}
#representa-img {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: white;
  top: 20px;
  left: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#representa-op {
  width: 180px;
  height: 100px;
  padding: 0px;
  background-color: white;
  border: 2px solid;
  border-color: grey;
  text-align: center;
  font-size: 80px;
  color: black;

  position: absolute;
  top: 50px;
  left: 480px;
}
#representa-text {
  width: 180px;
  height: 100px;
  font-size: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-style: solid;
  border-width: 15px 0px 0px 0px;
  border-color: white;

  position: absolute;
  top: 170px;
  left: 480px; 
}
#check-representa-container {
  width: 180px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 320px;
  left: 480px;
}
#msg-representa {
  position: absolute;
  width: 700px;
  height: 40px;
  top: 550px;
  left: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  padding-top: 10px; 
  font-size: 25px;
  color: white;
  font-weight: bold; 
}